div.container-fluid.popout.automode
  div.d-flex.flex-column.justify-content-center.align-items-center.h-100
    div.card.gray.text-light.col-12.col-md-8.col-lg-6.shadow
      div.card-body
        div.d-flex.flex-row.justify-content-between
          h5.card-title
            i(class="bi " + icon + " mr-3")
            span=title
          button.btn-close.btn-close-white(type="button" aria-label="close")
        hr
        each text in cardTexts
          p.card-text=text
        hr
        div.badges-container#container
        textarea.textarea(placeholder="Добавить текст правила...")
        button#submit.btn.btn-dark
          i.bi.bi-plus.mr-2
          small Добавить
