div.overflow-auto.d-flex.flex-fill
  sounds-list
hr.d-flex
div.d-flex.align-self-end.flex-column
  h6
    i.bi.bi-clipboard-plus.mr-2 
    span Добавить новый звук
  input.form-control.input-dark.mb-2.mt-3#command-name(type="text" placeholder="Команда для бота")
  input.form-control.input-dark.mb-2#new-sound-path(type="text" placeholder="URL звука")
  button#submit.btn.btn-dark
    i.bi.bi-plus.mr-2
    small Добавить
