div.col-12.overflow-auto.d-flex.flex-fill
  custom-list
hr
div.col-12
  h6
    i.bi.bi-chat-left-heart-fill.mr-2 
    span Добавить новое автосообщение
  input.interval.form-control.input-dark(type="number" placeholder="Интервал между сообщениями в минутах")
  textarea.form-control.textarea.mb-2(placeholder="Я @ ты @ я @ ты @...")
  button#submit.btn.btn-dark
    i.bi.bi-plus.mr-2
    small Добавить
