doctype html
html(lang="en")
    head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
      meta(http-equiv="Content-Security-Policy" content="default-src *; img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *")
      title Diktorbot | Команды бота
      link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
      link(rel="shortcut icon" href="/img/tank2.png")
      link(href="/stylesheets/dashboard.css" rel="stylesheet")
    body
      div.d-flex.flex-column.flex-nowrap.h-100.align-items-start.justify-content-stretch
        div.d-flex.w-100
          div.container
            div.d-flex.flex-row.pt-4.pb-4
              div.d-flex
                img.logo(src="/img/tank2.png")
        main.d-flex.w-100.flex-fill.pb-4
          div.container.h-100
            h3 Функциональные команды
            pre !ролл !ранг !анек !нуждики
            h3 Звуковые команды
            pre=commands
