html {
  height: 100vh;
}
body, textarea, button {
  font-family: 'Arial', sans;
  font-size: 14px!important;
  height: 100vh;
}
body .logo {
  width: 32px;
  height: 32px;
}
.alert {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.save {
  margin-left: 30px;
  max-height: 32px;
}
