body {
  padding: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
@keyframes logo {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}
body #logo {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  animation-duration: 3s;
  animation-name: logo;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
  animation-timing-function: linear;
}
body pre {
  white-space: pre-wrap;
}
.btn {
  padding: 15px;
  border-radius: 4px;
  text-decoration: none;
  background-color: #9146FF;
  color: #fff;
}
#avatar {
  position: relative;
  top: 15px;
  margin-right: 15px;
  width: 32px;
  height: auto;
  float: left;
  border-radius: 100%;
}
