:root {
  --twitch-main: #9146FF;
}
html {
  background-color: #18181b;
  color: var(--bs-light);
  height: 100vh;
}
h4 {
  font-weight: 300!important;
}
body {
  background: none!important;
  color: var(--bs-light)!important;
  height: 100%;
}
@keyframes logo {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}
body #logo {
  width: 30px;
  height: auto;
  animation-duration: 3s;
  animation-name: logo;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
  animation-timing-function: linear;
}
body pre {
  white-space: pre-wrap;
}
.nav-link {
  border: 2px solid var(--twitch-main)!important;
  color: #fff!important;
}
.nav-link:focus {
  box-shadow: 0 0 0 0.25rem #9146ff30;
}
.nav-link:hover {
  background: #9146ff30!important;
}
.btn {
  padding: 15px;
  border-radius: 4px;
  text-decoration: none;
}
.btn-twitch {
  padding: 15px;
  font-size: 14px!important;
  border-radius: 4px;
  text-decoration: none;
  background-color: var(--twitch-main)!important;
  color: #fff!important;
}
#bg {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}
#avatar {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
