doctype html
html(lang="en")
  head
    title=user.display_name + ' | Чат'
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href=require('./chat.scss') rel='stylesheet')
  body.d-flex.w-100.h-100.bg-dark
    omd-chat
