:root {
  --twitch-main: #9146FF;
}
omd-chat {
  width: 100%;
  height: 100vh;
  background-color: #18181b;
  color: var(--bs-light);
  overflow: hidden;
  font-family: 'Arial', sans;
  font-size: 14px!important;
  omd {
    &-message {
      display: block;
    }
    &-alert {
      display: block;
    }
    &-control-button {
      display: block;
      cursor: pointer;
    }
  }
  @keyframes pop {
    0% { transform: scale(1);}
    50% { transform: scale(1.01);}
    100% { transform: scale(1);}
  }
  &-reward {
    display: block;
    &:last-child {
      padding-bottom: 10px;
    }
    .reward {
      background: var(--bs-dark)!important;
      overflow: hidden;
      animation-name: pop;
      animation-timing-function: ease;
      animation-duration: .3s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      &-content {
        color: var(--bs-gray);
        b, &-cost {
          color: var(--bs-light);
          margin: 0 0.2em 0 0.2em; 
        }
      }
      &-color {
        width: 10px;
        background-color: red;
        position: absolute;
        inset: 0;
      }
      &-image {
        margin: 15px;
      }
    }
  }
  img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none!important;
    cursor: inherit;
  }
  iframe {
    border-radius: .25rem;
    position: sticky;
    max-height: 95px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  div {
    &::-webkit-scrollbar {
      background: var(--bs-gray-dark);
      width: 3px;
      border-radius: 3px;
     }
     &::-webkit-scrollbar-corner {
      background:var(--bs-gray-dark);
    }
    &::-webkit-scrollbar-thumb {
      background: var(--bs-gray);
      cursor: default!important;
      transition: 1s ease-in-out;
      border-radius: 3px;
      &:active, &:focus {
        opacity: 0.5;
      }
      &:hover {
        background: var(--twitch-main);
      }
    }
  }
  textarea, button {
    font-family: 'Arial', sans;
    font-size: 14px!important;
  }
  p, h5 {
    margin-bottom: 0px;
  }
  h5 {
    font-size: 14px;
    line-height: 32px;
    font-weight: bold;
    text-transform: uppercase;
  }
  a {
    color: var(--twitch-main);
    transition: .1s linear;
    &:hover {
      color: #9146FF80;
    }
  }
  .head {
    border-bottom: 1px solid var(--bs-gray-dark);
    line-height: 32px;
  }
  .nickname {
    font-weight: bold;
    margin-right: 2px;
    margin-left: 5px;
    display: inline-block;
    cursor: pointer;
    transition: .2s ease-in-out;
    border-radius: 2px;
    padding: 1px 2px 1px 2px;
    &:hover {
      background-color: #ffffff20;
    }
  }

  ul li {
    list-style-type: none;
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .chatters-list {
    background-color: #18181b;
    z-index: 21;
    position: fixed;
    display: none;
  }
  .card {
    &-body {
      padding: 5px;
      border: none;
      word-wrap: break-word;
      &-msg {
        .emoticon {
          height: 23px;
        }
      }
      span {
        display: inline;
      }
      &:before {
        content: attr(data-timestamp);
        font-size: 10px;
        color: var(--bs-gray);
        position: absolute;
        margin-top: -11px;
        /* margin-left: -20px; */
        left: 5px;
      }
    }
  }
  @keyframes logo {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
  }
  #logo {
    width: 30px;
    height: auto;
    animation-duration: 3s;
    animation-name: logo;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    animation-timing-function: linear;
  }
  .btn-twitch {
    padding: 15px;
    border-radius: 4px;
    text-decoration: none;
    background-color: var(--twitch-main);
    color: #fff;
  }

  .dropdown-menu-dark {
    background-color: #131416;
    hr {
      background-color: #343434;
    }
  }
  
  .emotes {
    position: absolute;
    width: 30px;
    height: 30px;
    float: right;
    margin-top: 7px;
    right: 60px;
    z-index: 5;
    &-list {
      b {
        font-size: 14px;
      }
      .avatar {
        width: 25px;
        height: 25px;
      }
      div div {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
  #broadcaster-quickpanel .emote {
    display: inline-block;
    height: 36px;
    margin: 3px;
    cursor: pointer;
    border-radius: 4px;
    transition: .1s ease-out;
  }
  #broadcaster-quickpanel .emote:hover {
    transform: scale(1.3);
  }
  .card {
    border: none;
    background: none;
    /* line-height: 26px; */
    &-avatar {
      width: 22px;
      height: 22px;
      border-radius: 100%;
    }
  }
  .card:last-child {
    margin-bottom: 5px;
  }
  .card .card-body img {
    display: inline;
  }
  @keyframes siren {
    0% { opacity: 0.6;}
    50% { opacity: 1;}
    100% { opacity: 0.6;}
  }
  .siren {
    animation-duration: 1s;
    animation-name: siren;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    animation-timing-function: ease-in;
  }
  .technical {
    background: #36383a;
  }
  .btn-small {
    width: 30px;
    height: 30px;
    padding: 3px;
    display: inline-block;
  }
  .btn-small {
    background: transparent;
    border: none;
    border-radius: .25rem!important;
  }
  .btn-small:hover {
    background: var(--bs-gray-dark);
  }
  .btn-small:active {
    background: var(--bs-gray);
  }
  .btn-small svg path {
    fill: var(--bs-light);
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .notice {
    color: var(--bs-light);
    padding: 5px;
    background: var(--bs-red);
  }
  .card-notice {
    background-color: #87232d45!important;
    margin-top: 3px;
    margin-bottom: 6px!important;
    padding-top: 8px;
  }
  .bot-command {
    font-size: 9px;
    background: var(--bs-purple);
    border-radius: 50px;
    padding: 3px 6px;
    position: relative;
    top: -1px;
    margin-right: 5px;
  }
  .balance {
    width: 100px;
  }
  .chatters-counter #chatters-counter-alt {
    font-weight: 300;
    margin-left: 3px;
    color: var(--bs-gray);
  }
  .chatters-counter {
    color: #ff8280;
    display: inline-block;
    margin-left: 10px;
    width: 100px;
    svg path {
      fill: #ff8280;
    }
    span {
      font-weight: bold;
      margin-left: 3px;
    }
    &-alt {
      display: inline-block;
      color: #ff8280;
      width: 40px;
      svg path {
        fill: var(--bs-gray);
      }
    }
  }
  .badge-icon {
    max-width: 16px;
    max-height: 16px;
    display: inline-block;
    float: left;
    margin-right: 2px;
    &-img {
      width: 16px;
      height: 16px;
    }
  }
  .btn-control {
    transition: .1s ease-in-out;
    background: none;
    border: none;
    padding: 0px;
    width: 14px;
    color: var(--bs-gray-600);
    float: left;
    position: relative;
    top: 1px;
    i {
      transition: .1s ease-in-out;
    }
  }
  .card-body .btn-control {
    margin-right: 5px!important;
  }
  .btn-control:active, .btn-control:focus {
    outline: none;
  }
  .red:hover {
    color: var(--bs-red);
  }
  .yellow:hover {
    color: var(--bs-yellow);
  }
  
  .alert {
    .message {
      margin-left: 15px;
    }
    .btn-control {
      i {
        transition: none;
      }
      color: var(--bs-gray-600);
      position: relative;
      left: -5px;
      width: 22px;
      top: 0px;
      text-align: center;
      &:hover {
        color: var(--bs-dark);
        background: var(--bs-light);
        border-radius: 100%;
      }
    }
  }
  .dropdown-menu {
    max-height: 400px;
    overflow: auto;
    min-width: 20rem;
    margin-right: -10px;
    h6 {
      font-size: 14px;
      font-weight: bold;
      padding: 0.4em;
      margin: 0px;
    }
  }
  .alert {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .pseudo-delete {
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    max-width: 100%;
    overflow: hidden;
    color: var(--bs-gray);
    transition: .2s ease-in-out;
    cursor: pointer;
    &:hover {
      white-space: normal;
      text-overflow: inherit;
      color: inherit;
    }
  }
  .avatar {
    position: relative;
    margin-right: 15px;
    width: 32px;
    height: auto;
    float: left;
    border-radius: 100%;
    border: 2px solid #9146FF;
  }
  .chatty-label {
    position: absolute;
    top: 11px;
    left: 10px;
    z-index: 4;
    transition: .2s ease-in-out;
    width: 18px;
    height: 18px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  #text {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px!important;
    padding-right: 50px!important;
    box-sizing: border-box!important;
    background-color: var(--bs-gray-dark);
    color: var(--bs-light);
    border: none;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    &:focus {
      box-shadow: none!important;
    }
  }
  .logo {
    margin-top: 6px;
    margin-bottom: 6px;
    width: 20px;
    height: 20px;
  }
  .btn-twitch {
    padding-left: 15px!important;
    padding-right: 15px!important;
    padding-top: 8px!important;
    padding-bottom: 8px!important;
    font-size: 14px!important;
    border-radius: 4px;
    text-decoration: none;
    background-color: var(--twitch-main)!important;
    color: #fff!important;
    transition: .1s ease-in-out;
    &:hover {
      transform: scale(1.03);
    }
    &:active, &:focus {
      transform: scale(0.99);
      box-shadow: 0 0 0 0.25rem #9146ff30;
    }
  }

  .z-1 {
    position: relative;
    z-index: 1;
  }
  .ml-15 {
    margin-left: 8px;
  }
  #bg {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
  }
  .cred {
    font-size: 10px;
    text-decoration: none;
    color: inherit;
    font-weight: 200!important;
    opacity: 0.1;
  }
  .list-group {
    background-color: #20202020;
    border-radius: .25rem;
    margin-top: .25rem;
    margin-left: -15px;
    margin-right: -15px;
    &-item {
      background: none!important;
      &:first-child {
        padding-top: 5px!important;
      }
    }
  }
  .first-msg {
    color: #fdfdfd;
    font-size: 10px;
    background: var(--twitch-main);
    border-radius: 1rem;
    padding: 2px 5px 2px 5px;
    &-card {
      background: #9146FF20;
      border-radius: 0.3rem;
      padding: 15px 10px 5px 10px!important;
      margin-bottom: 5px!important;
      overflow: hidden;
      position: relative;
      &:before {
        left: 10px!important;
      }
      &:after {
        overflow: hidden;
        width: 5px;
        height: 100%;
        background: var(--twitch-main);
        content: ' ';
        left: 0px;
        top: 0px;
        position: absolute;
        z-index: 0;
        transition: .1s linear;
      }
    }
  }

  .highlighted-message {
    color: #fff;
    background: #755ebc;
    border: 4px solid #755ebc;
  }
  #broadcaster-quickpanel {
    // background: var(--bs-dark);
    width: calc(100%);
    max-height: 50vh;
    overflow-y: auto;
    b {
      line-height: 32px;
    }
    & > div {
      padding: 5px 10px 5px 10px;
    }
  }

  .not-like-this {
    text-align: center;
    background: var(--bs-dark);
    padding: 5px;
    border-radius: 0.3rem;
    height: 100%;
    color: var(--bs-secondary);
    img {
      max-width: none!important;
      width: 36px!important;
      height: 36px;
      margin-right: 15px;
      border-radius: 0.3rem;
      color: var(--bs-secondary);
    }
  }
  
  .clip {
    &-border {
      padding-top: 15px!important;
      border-radius: 0.2rem;
    }
    &-frame {
      border-radius: 0.2rem;
      width: auto;
      height: auto;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      color: var(--bs-light);
      text-decoration: none;
      position: relative;
      background: var(--bs-dark);
      &:before {
        overflow: hidden;
        width: 5px;
        height: 100%;
        background: var(--twitch-main);
        content: ' ';
        display: flex;
        align-self: flex-start;
        position: absolute;
        z-index: 0;
        transition: .1s linear;
      }
      &:hover {
        background: var(--twitch-main);
        color: var(--bs-light);
        text-decoration: none;
      }
      img {
        max-width: none!important;
        height: 100%;
        width: 85px;
        display: flex;
        align-self: center;
        justify-content: center;
        margin-left: 10px;
      }
      & > div {
        display: flex;
        flex-direction: column;
        padding: 5px 10px 5px 15px;
        & > div > i {
          margin-right: 0.5rem;
        }
      }
    }
  }

  .input-group > .btn {
    padding: 11px;
  }
  .marker {
    font-size: 18px!important;
  }
  .bg-purple {
    background-color: var(--twitch-main);
  }
  .btn-secondary:disabled {
    background-color: #323538!important;
  }
  
  .connect b {
    color: var(--bs-light);
    background-color: var(--bs-success);
    border-radius: 2rem;
    padding: 2px 10px;
  }
  .disconnect b {
    color: var(--bs-light);
    background-color: var(--bs-danger);
    border-radius: 2rem;
    padding: 2px 10px;
  }
}
