div.container-fluid.h-100.mb-2
  div.compressor.gain.collapse
    div.d-flex.flex-row.justify-content-center.align-items.center.w-100
      span
        small(style={float: 'left', 'margin-right': '15px'}) Gain 
        small.m-3#gain_value(style={float: 'right', 'margin-right': '15px'}) 100
      div.d-flex.flex-fill.ml-2
        input.ranger.w-100(type="range" min="0" max="100" name="volume2" value="35" id="gain")
