doctype html
html
  head
    title= 'Diktorbot | Спикер'
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width")
    link(rel="shortcut icon" href="/img/tank2.png")


    link(rel="stylesheet" href="/stylesheets/speaker.css")
    <!--[if IE 8]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  body
    button#accept(type="button" name="button") Разрешить управление спикером
    div.container
      div.imps
        div.col.header#indicator
          span Speaker
        div.col
          div.compressor
            span Compressor
            input(type="checkbox" name="compressor" id="compressor")
            label(for="compressor")
          div.compressor
            span Knee
            input.ranger(type="range" min="0" max="40" name="knee" id="knee")
          div.compressor
            span Ratio
            input.ranger(type="range" min="1" max="20" name="ratio" id="ratio")
          div.compressor
            span Attack
            input.ranger(type="range" min="0" step="0.05" max="1" name="attack" id="attack")
          div.compressor
            span Release
            input.ranger(type="range" min="0.05" step="0.05" max="1" name="release" id="release")
          div.compressor
            span Threshold
            input.ranger(type="range" min="-100" max="0" name="threshold" id="threshold")
        div.col
          div.compressor.gain
            span
              span(style={float: 'left', 'margin-right': '15px'}) Gain 
              span#gain_value(style={float: 'right', 'margin-right': '15px'}) 100
            input.ranger.w-100(type="range" min="0" max="100" name="volume2" value="35" id="gain")
    script(type="text/javascript" src="/scripts/speaker.bundle.js")
