doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color")
    if session.passport
      title=session.passport.user.login + ' dashboard'
    else
      title="neverm1nd_o apps"
    link(rel="manifest" href="/manifest.webmanifest")
    link(rel="shortcut icon" href="/assets/tank2.png")
  body
    div.container-fluid.h-100.p-0
      div.d-flex.flex-row.h-100.w-100
        aside.d-flex.flex-column.pt-3.bg-dark
          div.bg-success.d-flex.align-items-center.justify-content-center.p-2.rounded
            img(src='/assets/tank2.png')
          div.d-flex.flex-fill.mt-3
            div.d-flex.flex-column.flex-fill
              div.btn-group-vertical#nav-buttons
        div.d-flex.flex-fill.ml-0
          omd-chat
