div.col-12.bg-darkest.rounded.p-2.mt-2
  div.row.align-items-center
    div.col-md-2
      input#name.mb-0.h-100.form-control.input-dark(type="text" value=command.name)
    div.col-lg-9.col-8.d-flex
      input#response.mb-0.d-flex.flex-fill.form-control.input-dark(type="text" value=command.response)
    div.col-md-2.col-lg-1
      button#save.w-100.h-100.btn.btn-success(type="buttton")
        i.bi.bi-save-fill
