div.col-12.overflow-auto.d-flex.flex-fill
  custom-list
hr
div.col-12
  h6
    i.bi.bi-clipboard-plus.mr-2 
    span Добавить новую команду
  input.form-control.input-dark.mb-2.mt-3#command-name(type="text" placeholder="Команда для бота")
  textarea.form-control.textarea.mb-2(placeholder="Ответ на команду...")
  button#submit.btn.btn-dark
    i.bi.bi-plus.mr-2
    small Добавить
