div.col-12.bg-dark.rounded.p-2.mb-2
  div.row
    div.col-2.d-flex.align-items-center
      h6.mb-0
        div.badge.rounded-pill.bg-success #{ name }
    div.col-6.col-lg-8.col-md-6.d-flex.align-items-center #{ response }
    div.col-2.col-lg-1.col-md-2.d-flex.align-items-center
      button#edit.w-100.btn.btn-dark.btn-small
        i.bi.bi-pencil-fill
    div.col-2.col-lg-1.col-md-2.d-flex.align-items-center
      button#delete.w-100.btn.btn-dark.btn-small
        i.bi.bi-trash
